# <center> Decision Tree Exercises

In [1]:
import numpy as np
import pandas as pd

### entropy quiz

In [2]:
Entropy = -(10/14)*np.log2(10/14) -(4/14)*np.log2(4/14)
Entropy

0.863120568566631

### multiclass entropy quiz

In [3]:
r = 8
b = 3
y = 2

balls = [r,b,y]
s = r+b+y

-r/s*np.log2(r/s)-(b/s)*np.log2(b/s)-(y/s)*np.log2(y/s)

1.3346791410515946

### information gain quiz

Which of the following splitting criteria provides the most information gain for discriminating Mobugs from Lobugs?

In [7]:
data = pd.read_csv("../data/ml_bugs_data.csv").sort_values(by = "Species")
data

   Species  Color  Length (mm)
8    Lobug   Blue         22.9
14   Lobug  Green         24.8
13   Lobug   Blue         14.5
22   Lobug  Green         18.8
10   Lobug   Blue         20.5
9    Lobug   Blue         21.0
16   Lobug  Green         17.9
17   Lobug  Green         22.7
5    Lobug  Brown         17.1
4    Lobug   Blue         18.4
3    Lobug  Green         23.7
2    Lobug   Blue         15.1
21   Lobug  Brown         14.1
7    Lobug  Green         18.6
20   Mobug   Blue         19.2
19   Mobug   Blue         14.6
18   Mobug  Green         19.9
0    Mobug  Brown         11.6
11   Mobug  Green         21.2
12   Mobug  Brown         13.8
6    Mobug  Brown         15.7
1    Mobug   Blue         16.3
15   Mobug  Brown         18.2
23   Mobug   Blue         13.1

In [8]:
data.Color.unique()

array(['Blue', 'Green', 'Brown'], dtype=object)

In [52]:
len(data[data["Species"]=="Lobug"])

14

In [78]:
def Entropy(num_lobug, num_mobug):
    p1 = num_lobug/num_lobug+num_mobug
    p2 = num_mobug/num_lobug+num_mobug
    return -p1*np.log2(p1) - p2*np.log2(p2)

In [79]:
Ent_parent = Entropy(len(data[data["Species"]=="Lobug"]), len(data[data["Species"]=="Mobug"]))
Ent_parent

-74.71228818113465

In [80]:
def Ent_child(data, cond):
    
    child = data[cond]
    
    return Entropy(len(child[child["Species"] == "Lobug"]), len(child[child["Species"] == "Mobug"]))

In [81]:
Ent_child1 = Ent_child(data, data["Color"]=="Green")
Ent_child2 = Ent_child(data, data["Color"]!="Green")

(Ent_child1, Ent_child2)

(-7.607136485281847, -57.05865002596162)

In [82]:
def Info_gain(data, Ent_parent, cond1, cond2):
    Ent_child1 = Ent_child(data, cond1)
    Ent_child2 = Ent_child(data, cond2)
    
    p1 = len(data[cond1])/len(data)
    p2 = len(data[cond2])/len(data)
    
    return Ent_parent - p1*Ent_child1 - p2*Ent_child2

In [83]:
Info_gain(data, Ent_parent, data["Color"]=="Green", data["Color"]!="Green")

-34.13747600206629

In [84]:
Info_gain(data, Ent_parent, data["Color"]=="Blue", data["Color"]!="Blue")

-43.242883914905676

In [85]:
Info_gain(data, Ent_parent, data["Color"]=="Brown", data["Color"]!="Brown")

-40.02917734470347

In [86]:
Info_gain(data, Ent_parent, data["Length (mm)"]<20.0, data["Length (mm)"]>=20.0)

-26.56996890398401

In [87]:
Info_gain(data, Ent_parent, data["Length (mm)"]<17.0, data["Length (mm)"]>=17.0)

-45.29005380852718

### Plainly looking at the data

In [88]:
data[data["Length (mm)"]<17.0]

   Species  Color  Length (mm)
13   Lobug   Blue         14.5
2    Lobug   Blue         15.1
21   Lobug  Brown         14.1
19   Mobug   Blue         14.6
0    Mobug  Brown         11.6
12   Mobug  Brown         13.8
6    Mobug  Brown         15.7
1    Mobug   Blue         16.3
23   Mobug   Blue         13.1

In [22]:
data[data["Length (mm)"]>=20.0]

   Species  Color  Length (mm)
8    Lobug   Blue         22.9
14   Lobug  Green         24.8
10   Lobug   Blue         20.5
9    Lobug   Blue         21.0
17   Lobug  Green         22.7
3    Lobug  Green         23.7
11   Mobug  Green         21.2

In [23]:
data[data["Color"]=="Blue"]

   Species Color  Length (mm)
8    Lobug  Blue         22.9
13   Lobug  Blue         14.5
10   Lobug  Blue         20.5
9    Lobug  Blue         21.0
4    Lobug  Blue         18.4
2    Lobug  Blue         15.1
20   Mobug  Blue         19.2
19   Mobug  Blue         14.6
1    Mobug  Blue         16.3
23   Mobug  Blue         13.1

In [13]:
data[data["Color"]!="Blue"]

   Species  Color  Length (mm)
14   Lobug  Green         24.8
22   Lobug  Green         18.8
16   Lobug  Green         17.9
17   Lobug  Green         22.7
5    Lobug  Brown         17.1
3    Lobug  Green         23.7
21   Lobug  Brown         14.1
7    Lobug  Green         18.6
18   Mobug  Green         19.9
0    Mobug  Brown         11.6
11   Mobug  Green         21.2
12   Mobug  Brown         13.8
6    Mobug  Brown         15.7
15   Mobug  Brown         18.2

In [11]:
data[data["Color"]=="Green"]

   Species  Color  Length (mm)
14   Lobug  Green         24.8
22   Lobug  Green         18.8
16   Lobug  Green         17.9
17   Lobug  Green         22.7
3    Lobug  Green         23.7
7    Lobug  Green         18.6
18   Mobug  Green         19.9
11   Mobug  Green         21.2

In [12]:
data[data["Color"]!="Green"]

   Species  Color  Length (mm)
8    Lobug   Blue         22.9
13   Lobug   Blue         14.5
10   Lobug   Blue         20.5
9    Lobug   Blue         21.0
5    Lobug  Brown         17.1
4    Lobug   Blue         18.4
2    Lobug   Blue         15.1
21   Lobug  Brown         14.1
20   Mobug   Blue         19.2
19   Mobug   Blue         14.6
0    Mobug  Brown         11.6
12   Mobug  Brown         13.8
6    Mobug  Brown         15.7
1    Mobug   Blue         16.3
15   Mobug  Brown         18.2
23   Mobug   Blue         13.1

In [14]:
data[data["Color"]=="Brown"]

   Species  Color  Length (mm)
5    Lobug  Brown         17.1
21   Lobug  Brown         14.1
0    Mobug  Brown         11.6
12   Mobug  Brown         13.8
6    Mobug  Brown         15.7
15   Mobug  Brown         18.2

In [15]:
data[data["Color"]!="Brown"]

   Species  Color  Length (mm)
8    Lobug   Blue         22.9
14   Lobug  Green         24.8
13   Lobug   Blue         14.5
22   Lobug  Green         18.8
10   Lobug   Blue         20.5
9    Lobug   Blue         21.0
16   Lobug  Green         17.9
17   Lobug  Green         22.7
4    Lobug   Blue         18.4
3    Lobug  Green         23.7
2    Lobug   Blue         15.1
7    Lobug  Green         18.6
20   Mobug   Blue         19.2
19   Mobug   Blue         14.6
18   Mobug  Green         19.9
11   Mobug  Green         21.2
1    Mobug   Blue         16.3
23   Mobug   Blue         13.1